/*
 All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.nav-search__form {
    position: relative;
    border: 3px solid #ddd;
    height: 44px
}

.nav-search__form input[type=text] {
    width: calc(100% - 40px);
    border: none !important;
    height: 38px !important;
    background: transparent !important;
}

.nav-search__form #datafetch {
    position: absolute;
    top: 45px;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
    max-height: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.nav-search__form #datafetch a,
.nav-search__form #datafetch .product-not-found {
    display: block;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 0;
    position: relative;
}

.nav-search__form #datafetch a small {
    color: #000
}

.nav-search__form #datafetch a.product-search-item {
    padding: 20px 20px 20px 60px;
}

.nav-search__form .search-thumbnail {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav-search__icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    border: none;
    background: transparent;
    font-size: 18px;
    padding-right: 10px;
}